input[type="text"]  {
  width: 400px;
  height: 25px;
  border-radius: 15px ;
}

label {
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

}

a {
  font-size: 20px;
  padding : 10px;
  margin: 20px;
}

.link{
  position: fixed;
  top: 0;
  right: 0;

}
